$red:#d38a8a;
$red-darken-1: darken($red, 10%);
$red-darken-2: darken($red, 20%);
$red-darken-3: darken($red, 30%);
$red-darken-4: darken($red, 40%);
$red-darken-5: darken($red, 50%);
$red-lighten-1: lighten($red, 10%);
$red-lighten-2: lighten($red, 20%);
$red-lighten-3: lighten($red, 30%);
$red-lighten-4: lighten($red, 40%);
$red-lighten-5: lighten($red, 50%);
